<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="/admin"method="POST">
    <input type="text" name="search" placeholder="搜索"/>
    <input type="submit"/>
</form>
    <input type="button"value="add" onclick="add()">
    <table>
     <% for(var o of data){%> 
        <tr>
            <td><%=o.id%></td>
            <td><%=o.title%></td>
            <td><%=o.money%></td>
        <td>
            <input type="button"class="upd"value="修改"data_id="<%=o.id%>"/>
            <input type="button"class="del" value="删除"data_id="<%=o.id%>"/>
        </td>
        </tr>
        <% }%> 
    </table>
    <script>
        function add(){
            window.location.href="./admin/add"
        }
        Array.from(document.getElementsByClassName("upd")).forEach(i =>{
          i.onclick=function(){
              this.getAttribute('data_id')
              window.location.href="/admin/update/"+his.getAttribute('data_id');
          }
        })
    </script>
</body>
</html>