<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员页面</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/Table.css">
</head>


<body>
    <table>
        <thead>
            <tr>
                <td><a href="/index"> Home  </ a></td>
                <td><a href="/about">About</ a></td>
                <td><a href="/home">houtai</ a></td>
                <td><a href="/basic">basic</ a></td>
                <td><a href="/new">new</ a></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="6">
                    <!-- <input type="button" href="/add" value="新增" id="add_button"/> -->
                    <a href="/add" id="add_button">新增</ a>
                </td>
            </tr>
            <tr>
                <td name="name">用户名</span></td>
                <td name="phone">邮箱<span class="upBtn"></span><span class="downBtn"></td>
                <td name="juice">性别<span class="upBtn"></span><span class="downBtn"></td>
                <td name="shop">要求<span class="upBtn"></span><span class="downBtn"></td>
                <td>年龄<span class="upBtn"></span><span class="downBtn"></td>
                <td>按钮</td>
            </tr>
        </thead>
        <tbody id="showdata">
            <% detail.forEach(o =>{ %>
                <tr>
                   
                    <td><%=o.Name %></td>
                    <td><%=o.password%></td>
                    <td><%=o.Email%></td>
                  
                    <td>
                        <input data-id=<%=o %> type="button" value="删除" class="del_button"/>
                        <input data-id=<%=o %> type="button" value="修改" class="upd_button"/>
                    </td>
                </tr>
            <% }) %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <input type="button" id="nextPage" value="下一页"/>
                </td>
            </tr>
        