<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
<form action="/use/search" method="post">
    姓名：<input type="text" name="s_Name" value="{{s_Name}}"><br>
    邮箱：<input type="text" name="s_Email" value="{{s_Email}}"><br>
    密码：<input type="text" name="s_password" value="{{s_password}}"><br>
    <input type="submit" value="查询">
    <a href="/user/add">新增</a>
</form>

<table>
    <tr>
        <th>姓名</th>
        <th>邮箱</th>
        <th>密码</th>
        <th>操作</th>
    </tr>
    {{each datas as value index}}
    <tr>
        <td>{{value.Name}}</td>
        <td>{{value.age}}</td>        <td>{{value.Email}}</td>
        <td>{{value.password}}</td>
        <td><a href="/user/del/{{value.Name}}">删除</a></td>
        <td><a href="/user/toUpdate/{{value.Name}}">修改</a></td>
    </tr>
    {{/each}}
</table>
</body>
</html>

</body>
</html>